# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

.yarn/cache/
.yarn/unplugged/
.yarn/install-state.gz
.pnp.*
dist/

# build
*.js
*.js.map
data.json

# Mac OS
.DS_Store
